<table class="table table-striped table-bordered table-master">
  <thead>
    <tr>
      <th>#</th>  
      <th>Name</th>
      <th>Level</th>
      <th>Category</th>
      <th>Published At</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>