<table class="table table-striped table-bordered table-master">
  <thead>
    <tr>
      <th>#</th>  
      <th>Title</th>
      <th>Nature</th>
      <th>Role</th>
      <th>Academic Level</th>
      <th>Publisher</th>
      <th>Date of Publication</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>