<p>This is a test</p>
<!-- 
  new_user_registration_path 
    (GET, devise/registrations#new)
  edit_user_registration_path
    (GET, devise/registrations#edit)
    (PATCH, devise/registrations#update)
    (DELETE, devise/registrations#destroy)

  new_user_session_path (GET, devise/sessions#new)
  user_session_path (POST, devise/sessions#create)
  destroy_user_session_path 
    (DELETE, devise/sessions#destroy)

  new_user_password_path (GET, devise/passwords#new)
  user_password_path (POST, devise/passwords#create)
  edit_user_password_path (GET, devise/passwords#edit)
                          (PATCH, devise/passwords#update)
1 <%=  %>
2 <%  %>
3 <%-  -%>
4 <%=  -%>
5 <%#  %>
6 <%  -%> 
-->