<h2 class="page-header">Edit Client Record</h2>
<%= render 'form' %>
<%= link_to '< Back to Clients', admin_clients_path, class: 'btn btn-link' %> |&nbsp;
<%= link_to 'Show', admin_client_path(@client), class: 'btn btn-link' %>
