<% provide(:content_id, 'id=civil-services-content') %>
<h4 class="page-header">New Civil Service Eligibility</h4>
<%= render 'form' %>
<%= link_to '< Back to Civil Service Eligibilities', admin_employee_civil_service_eligibilities_path, class: 'btn btn-link' %>