<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <h2 class="page-header text-center">Login</h2>
    <%= form_tag authenticate_user_path do %>
      <div class="form-group">
        <%= text_field_tag :username, nil, 
          class: 'form-control', autofocus: true,
          placeholder: 'Username' %>
      </div>
      <div class="form-group">
        <%= password_field_tag :password, nil, 
          class: 'form-control', autocomplete: 'off',
          placeholder: 'Password' %>
      </div>  
      <div class="form-group">
        <%= button_tag 'Login', class: 'btn btn-success btn-block' %>
      </div>
    <% end %>    
  </div>
</div>