<h2 class="page-header">Edit Specialization</h2>
<%= render 'form' %>
<%= link_to 'Show', admin_specialization_path(@specialization), class: 'btn btn-link' %> |
<%= link_to 'Back to Specializations', admin_specializations_path, class: 'btn btn-link' %>