<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">
      <span>Specializations</span>
      <span class="pull-right">
        <%= link_to new_admin_specialization_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span> New
        <% end %>
      </span>
    </h2>
  </div>  <!-- .col-md-12 -->
</div> <!-- .row -->
<div class="row">  
  <% @career_paths.each_with_index do |path, index| %>
    <div class="col-md-12">
      <h4 class="page-header">
        <strong>
          <% text = "#{index + 1}. #{path.name} Career Path" %>
          <%= link_to text, admin_career_path_path(path), title: 'View Career path', data: { toggle: 'tooltip' } %>
        </strong>
      </h4>
    </div>
    <div class="col-md-12">
      <table class="table table-bordered table-striped table-master">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th colspan="2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <%= render path.specializations %>
        </tbody>
      </table>      
    </div>  
  <% end %>
</div>
