<h2 class="page-header">Editing Student</h2>
<%= render 'form' %>
<%= link_to 'Show', [:admin, @student], class: 'btn btn-link' %> |
<%= link_to 'Back to Students', admin_students_path, class: 'btn btn-link' %>