<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">Dashboard</h2>
  </div>  
</div>  <!-- .row -->
<div class="row">
  <%= render 'upcoming_career_actions' %> 
</div>
<div class="row">
  <%#= render 'latest_qces' %>
</div>
<div class="row">
  <%= render 'latest_leaves' %>  
</div>