<h2 class="page-header">Edit Department Record</h2>
<%= render 'form' %>
<%= link_to '< Back to Departments', admin_departments_path, class: 'btn btn-link' %> |&nbsp;
<%= link_to 'Show', admin_department_path(@department), class: 'btn btn-link' %>
