<h2 class="page-header">Edit Academic Year</h2>
<%= render 'form' %>
<%= link_to 'Show', admin_academic_year_path(@academic_year), class: 'btn btn-link' %> |
<%= link_to 'Back to Academic Years', admin_academic_years_path, class: 'btn btn-link' %>