<h2 class="page-header">Academic Year</h2>
<h5>Start: <%= date_format_readable(@academic_year.start_at )%></h5>
<h5>End: <%= date_format_readable(@academic_year.end_at) %></h5>
<%= link_to 'Back to Academic Years', admin_academic_years_path, class: 'btn btn-link' %>
