<div id="employee-card" class="row">
  <div class="col-md-3">
    <img class="img-responsive img-thumbnail center-block" src="http://lorempixel.com/200/200/people/" alt="">
  </div>
  <div class="col-md-9">
    <h2 class="page-header"><%= @employee.full_name %></h2>
    <p><%= @employee.rank.name unless @employee.rank.nil? %><p>
    <p><%= @employee.age %> years old<span>&nbsp;—&nbsp;</span><%= @employee.hired_date %></p>
  </div>
</div>