<h2 class="page-header">Edit Faculty</h2>
<%= render 'edit_form' %>
<%= link_to '< Back to Faculty', admin_employees_path, class: 'btn btn-link' %> |&nbsp;
<%= link_to 'Show', [:admin, @employee], class: 'btn btn-link' %>
