<h2 class="page-header">Editing Employee</h2>
<%= render 'form' %>
<%= link_to 'Show', [:admin, @employee], class: 'btn btn-link' %> |
<%= link_to 'Back to Employees', admin_employees_path, class: 'btn btn-link' %>