<% display_number = 0 %>
<h2 class="page-header">Employees</h2>
<%= link_to 'New Employee', new_admin_employee_path, class: 'btn btn-primary' %>
<!-- puts some gap here -->
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>First name</th>
      <th>Last name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @employees %>
  </tbody>
</table>