<div class="row">
  <div class="col-md-12">
    <div class="col-md-3">          
      <div class="form-group">
        <%= collection_select nil, nil, @employees, :id, :full_name, { prompt: true }, class: 'form-control', name: 'partners[]', id: 'partner1' %>
      </div>
    </div>
    <div class="col-md-3">          
      <div class="form-group">
        <%= collection_select nil, nil, @employees, :id, :full_name, { prompt: true }, class: 'form-control', name: 'partners[]', id: 'partner2' %>
      </div>
    </div>
    <div class="col-md-3">          
      <div class="form-group">
        <%= collection_select nil, nil, @employees, :id, :full_name, { include_blank: 'Select Peer 3' }, class: 'form-control', name: 'partners[]', id: 'partner3' %>
      </div>
    </div>
  </div>  <!-- .col-md-12 -->
</div>  <!-- .row -->          