<%= form_tag qce_student_instruction_rating_path(@qce) do %>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3">
        <div class="form-group">
          <%= submit_tag 'Assign', class: 'btn btn-success' %>
        </div>              
      </div>
    </div>
  </div>
<% end %>
