<%= form_tag qce_supervisor_instruction_rating_path(@qce) do %>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3">
        <div class="form-group">          
          <%= collection_select nil, nil, @employees, :id, :full_name, { include_blank: '--- Select Supervisor ---' }, class: 'form-control', name: 'supervisor_id', id: 'supervisor' %>
        </div>              
      </div>
    </div>  <!-- .col-md-12 -->
  </div>  <!-- .row -->
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3">
        <div class="form-group">
          <%= submit_tag 'Assign', class: 'btn btn-success' %>
        </div>          
      </div>
    </div> <!-- .col-md-12 -->
  </div>  <!-- .row -->
<% end %>   <!-- form_tag qce_supervisor_instruction_rating -->