<%= form_tag qce_path(@qce), method: :patch do %>
  <div class="col-md-5">
    <div class="form-group">
      <%= select_tag 'qce[support_area]', options_for_select(%w[Research Production Extension]), class: 'form-control', id: 'support_area-select' %>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <%= submit_tag 'Save', class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
