<h4 class="page-header">Edit Academic Honor</h4>
<%= render 'form' %>
<%= link_to '< Back to Academic Honors',
  admin_employee_achievement_and_honors_2_path(anchor: 'academic-honors'),
  class: 'btn btn-link' %>