<h2 class="page-header">Edit Holiday Record</h2>
<%= render 'form' %>
<!-- <%#= link_to 'Show', admin_holiday_path(@holiday), class: 'btn btn-link' %> | -->
<%= link_to 'Back to Holidays', admin_holidays_path, class: 'btn btn-link' %>