<% provide(:content_id, 'id=professional-services-content') %>
<h4 class="page-header">New Prof. Service</h4>
<%= render 'form' %>
<%= link_to '< Back to Prof. Services',
  admin_employee_expert_services_path(anchor: 'professional-services'),
  class: 'btn btn-link' %>