<h4 class="page-header">Edit Technical Article</h4>
<%= render 'form' %>
<%= link_to '< Back to Technical Articles',
  admin_employee_achievement_and_honors_1_path(anchor: 'technical-articles'),
  class: 'btn btn-link' %>