<% results = "#{pluralize(@searched_employees.count, 'record')} found" %>
<h2 class="page-header">Faculty Search Results: <span style="font-style: italic"><%= results %><span></h2>
<%= render partial: 'searched_employee', collection: @searched_employees %>