<% flash.each do |name, msg| %>
  <div id="flash" class="alert alert-<%= name == 'notice' ? 'success' : 'danger' %> alert-dismissable fade in">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <%= content_tag :div, msg.html_safe, id: "flash_#{name}" %>
  </div>
<% end %>
<script>
  $('#flash').fadeOut(12000);
</script>