<style>
  .no-record {
    margin-top: 20px;
  }
</style>
<div class="row">
  <div class="col-md-12">
    <h4 class="no-record alert alert-danger">You have no assigned specialization. Please ask Admin to update your record by assigning you a specialization first.</h4>
  </div>
</div>
