<%= render 'header' %>
<%= render 'search_form' %>
<div class="row">
  <div class="col-md-12">
    <h3 class="page-header">QCE Summary</h3>
    <!-- display all QCES per semester based on the academic years included by the selected NBC -->
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3 class="page-header">CCE Summary</h3>
    <!-- check :cce_scoreable table -->
    <h4 class="page-header">Educational Attainment (display in table:)</h4>
    <h4 class="page-header">Work Experiences (display in table:)</h4>
    <h4 class="page-header">Prof. Developments (display in table:)</h4>
  </div>
</div>
