<h2 class="page-header">Editing Leave</h2>
<%= render 'form' %>
<%= link_to 'Show', [:admin, @leave], class: 'btn btn-link' %> |
<%= link_to 'Back to Leaves', admin_leaves_path, class: 'btn btn-link' %>