<table class="table table-bordered">
  <!-- field1 - field2 - field3 - Points - NBC ID - View record -->
  <tbody>
    <tr>
      <td>Highest relevant degree:</td>
    </tr>
    <tr>
      <th>Field 1</th>
      <th>Field 2</th>
      <th>Field 3</th>
      <th>Points</th>
      <th>NBC</th>
      <th></th>
    </tr>
    <tr>
      <td>sample 1</td>
      <td>sampel 2</td>
      <td>sample 3</td>
      <td>30</td>
      <td>23</td>
      <td><%= link_to "View", "#" %></td>
    </tr>

    <tr>
      <td>Additional degrees earned:</td>
    </tr>
    <tr>
      <th>Field 1</th>
      <th>Field 2</th>
      <th>Field 3</th>
      <th>Points</th>
      <th>NBC</th>
      <th></th>
    </tr>
    <tr>
      <td>sample 1</td>
      <td>sampel 2</td>
      <td>sample 3</td>
      <td>30</td>
      <td>23</td>
      <td><%= link_to "View", "#" %></td>
    </tr>

    <tr>
      <td>Additional credits earned:</td>
    </tr>
    <tr>
      <th>Field 1</th>
      <th>Field 2</th>
      <th>Field 3</th>
      <th>Points</th>
      <th>NBC</th>
      <th></th>
    </tr>
    <tr>
      <td>sample 1</td>
      <td>sampel 2</td>
      <td>sample 3</td>
      <td>30</td>
      <td>23</td>
      <td><%= link_to "View", "#" %></td>    
    </tr>
    <!-- Subtotal -->
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Total</td>
      <td></td>
      <td></td>
      <td>80</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>