<h3>Quick Summary</h3>
<table>
  <tr>
    <th>Criteria</th>
    <th>Score</th>
  </tr>
  <tr>
    <td>Educational Qualification</td>
    <td></td>
  </tr>
  <tr>
    <td>Experience and Length of Service</td>
    <td></td>
  </tr>
  <tr>
    <td>Professional Development, Achievement and Honors</td>
    <td></td>
  </tr>
</table>

<h4 class="page-header">Education Qualification (85 pts.)</h4>
  <%= render 'educational_qualifications' %>
<h4 class="page-header">Experiences and Length of Service (25 pts.)</h4>
  <%#= render 'work_experiences' %>
  * academic experience
  * administrative experience
  * professional experience
  * public private experience

<h4 class="page-header">
  Professional Development, Achievements and Honors (90 pts.)  
</h4>
<div>
  <h5 class="page-header">Expert Services</h5>
</div>

<% if false %>
  <%#= render 'work_experiences/academic_work_experiences' %>
  <%#= render 'work_experiences/admin_work_experiences' %>
  <%#= render 'work_experiences/professional_work_experiences' %>
  <%#= render 'work_experiences/public_private_work_experiences' %>

  <%#= render 'expert_services/academic_advisories' %>
  <%#= render 'expert_services/accreditation_services' %>
  <%#= render 'expert_services/assessor_services' %>
  <%#= render 'expert_services/professional_reviews' %>
  <%#= render 'expert_services/professional_services' %>
  <%#= render 'expert_services/trainer_services' %>

<div>
  <p>trainings</p>
  <p>academic_honors</p>
  <p>awards </p>
  <p>community_outreaches</p>
  <p>professional_examinations</p>
  <p>professional_memberships</p>
  <p>scholarships</p>
</div>
<div>
  <h5 class="page-header">Creative Works</h5>
  <p>creative_works</p>
  <p>discoveries</p>
  <p>innovations</p>
  <p>instructional_manuals</p>
  <p>inventions</p>
  <p>publications</p>
  <p>technical_articles</p>
</div>
<% end %>