<h4 class="page-header">New Academic Degree</h4>
<%= render 'form' %>
<%= link_to '< Back to Academic Degrees',
  admin_employee_educations_path(anchor: 'academic-degrees'),
  class: 'btn btn-link' %>