<h2 class="page-header">Edit NBC Record</h2>
<%= render 'form' %>
<%= link_to 'Show', admin_nbc_path(@nbc), class: 'btn btn-link' %> |
<%= link_to 'Back to NBCs', admin_nbcs_path, class: 'btn btn-link' %>