<h2 class="page-header">Edit Admin Record</h2>
<%= render 'form' %>
<%= link_to '< Back to Admins', admin_admins_path, class: 'btn btn-link' %> |&nbsp;
<%= link_to 'Show', admin_admin_path(@admin), class: 'btn btn-link' %>
