<h2 class="page-header">Edit Career Path Action</h2>
<%= render 'form' %>
<%= link_to '< Back to Career Path Actions', admin_career_path_actions_path, class: 'btn btn-link' %> |&nbsp;
<%= link_to 'Show', admin_career_path_action_path(@action), class: 'btn btn-link' %>
