<div class="col-md-12">
  <h4 class="page-header">CCE Status</h4>    
</div>
<div class="col-md-12">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo aliquam aliquid accusantium sint commodi rem dolorem temporibus, dolores. Dicta minus numquam obcaecati placeat, animi tempora commodi consequatur tenetur sed itaque.</p>  
</div>
