<h3 class="page-header">Welcome back, <%= current_user.username %></h3>
<div id="panel-task" class="panel">
  <h4 class="page-header">Tasks</h4>
  <p>1# You are required to rate Elmer A. Sia</p>
  <p>2# You are required to rate Anrem Balontong</p>  
</div>
<div id="panel-ratings" class="panel">
  <h4 class="page-header">Available Ratings</h4>
  <% @opened_rating_periods.each do |period| %>
    <p><strong><%= period.to_s %></strong></p>
  <% end %>
</div>
<!-- 
  qce_ratings/2016-2017/dashboard/
-->