<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">Dashboard</h2>
  </div>
</div>
<div class="row">
  <%= render 'latest_rating_tasks' %>
</div>
<% if @current_user.account.is_a? Employee %>
  <div class="row">
    <%= render 'latest_qces' %>
  </div>
  <div class="row">
    <%= render 'latest_leaves' %>
  </div>
<% end %>