<h3 class="page-header">Welcome back, <%= current_user.username %></h3>
<h4 class="page-header">Tasks</h4>
<p>1# You are required to rate Elmer A. Sia</p>
<p>2# You are required to rate Anrem Balontong</p>
<h4 class="page-header">Available Rating Periods</h4>