<h4 class="page-header">Edit Leave Service Credit</h4>
<%= render "form" %>
<%= link_to "< Back to Leave Service Credits",
      admin_employee_leaves_path(anchor: "credits"),
      class: "btn btn-link" %>