<h2 class="page-header">Editing Rating Period</h2>
<%= render 'form' %>
<%= link_to 'Show', [:admin, @rating_period], class: 'btn btn-link' %> |
<%= link_to '< Back to Rating Periods', admin_rating_periods_path, class: 'btn btn-link' %>