<p>
  <strong>Start at:</strong>
  <%= @rating_period.start_at %>
</p>

<p>
  <strong>End at:</strong>
  <%= @rating_period.end_at %>
</p>
<%= link_to '< Back to Rating Periods', admin_rating_periods_path, class: 'btn btn-link' %> |&nbsp;
<%= link_to 'Edit', edit_admin_rating_period_path(@rating_period), class: 'btn btn-link' %>
