<% provide(:content_id, 'id=cce-scorings') %>
<% display_number = 0 %>
<!-- <div>
  <%#= link_to new_admin_employee_education_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span> New
  <%# end %>
</div> -->
<h4 class="page-header">Educational Qualification</h4>
<table class="table table-striped table-bordered table-master">
  <thead>
    <tr>
      <th>#</th>
      <th>Record</th>
      <th>Score</th>
      <th>NBC</th>
    </tr>
  </thead>
  <tbody>
    <% @scorings.each_with_index do |scoring, index| %>
      <tr>
        <td><%= index += 1 %></td>
      </tr>
    <% end %>
  </tbody>
</table>
