<% provide(:content_id, 'id=work-experiences-content') %>
<h4 class="page-header">New Work Experience</h4>
<%= render 'form' %>
<%= link_to '< Back to Work Experiences', admin_employee_work_experiences_path, class: 'btn btn-link' %>