<% provide(:content_id, 'id=other-infos-content') %>
<% display_number = 0 %>
<div>
  <%= link_to new_admin_employee_other_info_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span> New
  <% end %>
</div>
<table class="table table-striped table-bordered table-master">
  <thead>
    <tr>
      <th>#</th>  
      <th>Context</th>
      <th>Information</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @other_infos.each do |other_info| %>
      <tr>
        <td><%= display_number += 1 %></td>
        <td><%= other_info.context %></td>
        <td><%= other_info.info %></td>
      </tr>
    <% end %>
  </tbody>
</table>