@import 'bootstrap-sprockets';
@import 'bootstrap';

// Bootstrap-related CSS

.page-header {
  //margin: 20px 0px;
  margin-top: 15px;
  margin-bottom: 10px;    
  margin-left: 0px;
  margin-right: 0px
}

.navbar {
  margin-bottom: 10px;    
}

.btn-link {
  padding-left: 0px;
  //border: 6px solid red;
}

// Application-related CSS

.app-container {
  padding: 2px 30px;
//  border: 1px solid red;
}


table > tbody > tr > td.borderless {
  border-style: none;
}

td.report-label {
  font-size: 16px;
}
  
footer {
  margin-top: 35px;
}

.links {
  margin-top: 20px;
}  

.required {
  color: red;
  font-weight: bolder;
} 

.center {
  text-align: center;
}  

#support_area-select {
  margin-left: 10px;
}

.qce-options {
  margin-top: 30px;
  margin-bottom: 30px;
}

span.assignment {
  color: green;
  margin-left: 30px;
}
 
span.rating-status {
  color: #f0ad4e;
}

.career-paths-subheader {
  margin-top: 30px;
}

#evaluation-guide {
  margin-top: 20px;
}

// Evaluation-related styles
td.number {
  width: 1%;
}

td.question {
  width: 75%;
}

td.score {
  width: 4%;
}

.answered {
  color: red;
}  

/*

input[type=radio]:checked + .radio-button-label {
  color: #f00;
  font-style: italic;
} 

*/

// end of Evaluation-related styles


div#login-panel {
  margin-top: 70px;
  margin-bottom: 0px;
  //border: 1px red solid;
}

div#employee-card {
  //border: 1px red dashed;
  margin-top: 15px;
}

div.employee-card-info > p {
  font-size: 16px;
  margin-bottom: 5px;
  //color: red; 
}

div#employee-tabs {
  margin-top: 30px;
  //border: 1px green dashed;
}

div#profile-content, 
div#educations-content,
div#work-experiences-content,
div#trainings-content, 
div#civil-services-content, 
div#voluntary-works-content,
div#other-infos-content,
div#rankings-content,
div#leaves-content,
div#cce-scorings-content,
div#professional-examinations-content,
div#community-outreaches-content,
div#awards-content,
div#scholarships-content,
div#academic-honors-content,
div#professional-memberships-content {
  
  //margin-top: 30px;
  //margin: 30px 20px;
  //border: 1px blue dashed;
  table {
    margin-top: 10px;
  }
}

// for elements to have a little distance
.content {
  margin: 15px 3px;
  //border: 1px orange solid;
  //margin-top: 30px;
}

.caption > h4 {
  //font-size: 17px;
  margin: 2px;
}

.caption > p {
  font-size: 15px;
  margin: 0px;
}

.col-md-3:nth-child(4n+1) {
  clear: left;
}

#question.active {
  //background-color: green;
}

.table-master {
  width: auto;
}

#panel-nbcs {
  margin-bottom: 500px;
}

.view-button {
  margin-top: 25px;
}

#leave-search-box {
  margin-top: 15px;
}

label.criteria {
  font-weight: normal
}

// Guides

/*
  .container-fluid {
    padding: 10px 120px;
    border: 1px solid blue;
  }
*/

/*
  [class*="col-md"] {
    border: 1px red solid;
  }
*/

/*
  div.row {
    border: 1px red solid;
  }
*/

/*
  div#employee-card
  div#employee-tabs
*/