<% provide(:content_id, 'id=instructional-manuals-content') %>
<h4 class="page-header">New Instructional Manual</h4>
<%= render 'form' %>
<%= link_to '< Back to Instructional Manuals',
  admin_employee_professional_developments_path(anchor: 'instructional-manuals'),
  class: 'btn btn-link' %>