<h2 class="page-header">Edit Leave Service Credit</h2>
<%= render 'form' %>
<!-- <%#= link_to 'Show', admin_leave_service_credit_path(@leave_service_credit), class: 'btn btn-link' %> | -->
<%= link_to 'Back to Leave Service Credits', admin_leave_service_credits_path , class: 'btn btn-link' %>